body {
	margin: 0;
}

.main-canvas-container {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -100;
}

.main-content {
	margin: 20px auto 20px;
	width: 600px;
	height: 300px;
	border: 1px solid red;
}